%textarea{:rows => @userstories.count+1, :cols => 200}
  - @userstories.each do |userstory|
    :preserve
    = userstory['id'] + ' ' + userstory['title'] + "  \n"
%p{:contenteditable => true, :style => 'border:1px solid brown; padding: 10px'}
  - @userstories.each do |userstory|
    %a{:href => userstory['url']}
      = userstory['id'] + ' ' + userstory['title']
    %br
%p
  - @userstories.each do |userstory|
    %a{:href => userstory['url']}
      = userstory['id'] + ' ' + userstory['title']
    %br
%ol
  - @files.each do |file|
    %li= file
