<!DOCTYPE html>
<html>
  <head>
    <title>Prrequest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !@hide_header %>
      <div id="nav">[
        <a href="/">Peer Review Request</a> |
        <a href="/push">Beta/Prod Push</a>
      ]</div>
    <% end %>
    <%= yield %>
  </body>
</html>
